@mixin areas {
	display: grid;
	justify-content: center;
	height: 100%;
	margin: 0 auto !important;
}
.seat-selector-container {
	background-color: rgba(0, 0, 0, 0.05);
	display: flex;
	flex-direction: column;
    margin:0 auto;
	width: 90dvw;
	height: 100%;
	overflow: hidden;
	padding: 2.5rem;
	justify-content: center;
	user-select: none;

	& p.seat-caption{
		font-weight: bold;
		min-height: 2rem;
		text-align:center;
		
	}

	& .seat-selector {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-evenly;

		& .seat-selector-main {
			& .seat-selector-main__left {
				@include areas;
				width: 20%;
			}
			& .seat-selector-main__center {
				@include areas;
				width: 45%;
			}
			& .seat-selector-main__right {
				@include areas;
				width: 20%;
			}
		}
	}
	& .accessibility-space-selector {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
	}
}

@media only screen and (max-width:576px) {
	.seat-selector-container {
		padding-left: 0;
		padding-right: 0;
	}
}
